body {
    background-color: rgb(6, 29, 58);
}

#texto {
    text-align: center;
}

.textoImportante {
    color: rgb(77, 161, 66);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic
    font-weight: bold;
}
